<div class="flex one two-1000">
  <div class="product-image">
    <img src="<%= @product.picture %>" />
  </div>
  <div>
    <h1><%= @product.title %></h1>
    <p>
      <%= @product.description %>
    </p>

    <h2><%= number_to_currency(@product.price) %></h2>
    <hr />

    <h3>Instant Delivery</h3>
    <img src="https://s31.postimg.org/cjyo11eqj/uber_rush.png" class="logo"/>
    <p>
      <small>UberRUSH is an on-demand delivery network powered by Uber. Once your order is picked up, you’ll receive a text message with a link to track your delivery in real time on the map. So you always know exactly when it will arrive. </small>
    </p>
    <div id="shipping-quote">
      <%= form_tag "/quote", method: 'post', remote: true do %>
        <%= text_field_tag :address, nil, placeholder: "Street Address" %>
        <%= text_field_tag :city, nil, placeholder: "City" %>
        <%= text_field_tag :postal_code, nil, placeholder: "Postal Code" %>
        <%= submit_tag "Get a Delivery Quote" %>
      <% end %>
    </div>
    <br />

    <div id="quote-info" class="hidden">
      <h3>Quote Details</h3>
      <p>Cost Estimate: <span id="shipping-cost"></span></p>
      <p>Time Estimate: <span id="eta"></span></p>
    </div>
  </div>
</div>